{% extends 'base.twig' %}

{% block page_title %}Dashboard{% endblock %}

{% block main_content %} 
    <div class="row">
        <div class="col-md-12">
            <h3>Administration</h3>
            {% for key, name in groups %}
              <div>
              <h2>{{ name }}</h2>
              <a class="btn btn-default btn-xs" href="{{ path_for('admin-upload', {group: key}) }}">Upload Chat Records</a>
              <a class="btn btn-default btn-xs"  href="{{ path_for('admin-view', {group: key}) }}">View recent data</a>
              <a class="btn btn-default btn-xs"  href="{{ path_for('admin-statistics', {group: key}) }}">Statistics</a>
              </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}