{% extends 'base.twig' %}

{% block main_content %} 
    {% if group %}
    {% else %}
        <h1>Administration</h1>
        {% for key, name in groups %}
          <p>{{ name }} <a href="/admin/{{ key }}/upload">Upload</a> <a href="/admin/{{ key }}/view">View</a></p>
        {% endfor %}
    {% endif %}
{% endblock %}