<!DOCTYPE HTML>
<html>
  <head>
    <title>{% block page_title %}{% endblock %} - Listen</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet"><link href="//cdn.bootcss.com/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/javascript/week-picker-view.css">
  </head>
  <body>
    <div class="container-fluid">
        {% block  main_content %}{% endblock %}
        <div class="row">
          <div class="col-xs-12">
            <a href="https://www.zybuluo.com/AminBy/note/542819">打卡规则</a>
          </div>
        </div>
    </div>
    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="/javascript/week-picker.js"></script>
    <script>
    $('[data-toggle="tooltip"]').tooltip();
    </script>
  </body>
</html>