{% extends 'base.twig' %}

{% block page_title %}扶뒬못{% endblock %}

{% block main_content %} 
    <div class="row">
        <div class="col-md-12">
            <h3>扶뒬못</h3>
            <div>
                <span class="do do-dictate"></span>
                <span class="do do-note"></span>
                <span class="do do-read"></span>
                <span class="do do-recite"></span>
                <span class="do do-write"></span>
                <span class="do do-review"></span>
                <span class="do do-leave"></span>
                <span class="do do-dictate1"></span>
                <span class="do do-dictate2"></span>
                <span class="do do-dictate3"></span>
                <span class="do do-revise"></span>
                <span class="do do-null"></span>
            </div>
            <div>
                <span class="do do-fill do-dictate"></span>
                <span class="do do-fill do-note"></span>
                <span class="do do-fill do-read"></span>
                <span class="do do-fill do-recite"></span>
                <span class="do do-fill do-write"></span>
                <span class="do do-fill do-review"></span>
                <span class="do do-fill do-leave"></span>
                <span class="do do-fill do-dictate1"></span>
                <span class="do do-fill do-dictate2"></span>
                <span class="do do-fill do-dictate3"></span>
                <span class="do do-fill do-revise"></span>
                <span class="do do-fill do-null"></span>
            </div>
            <div>
                <span class="do do-invalid do-dictate"></span>
                <span class="do do-invalid do-note"></span>
                <span class="do do-invalid do-read"></span>
                <span class="do do-invalid do-recite"></span>
                <span class="do do-invalid do-write"></span>
                <span class="do do-invalid do-review"></span>
                <span class="do do-invalid do-leave"></span>
                <span class="do do-invalid do-dictate1"></span>
                <span class="do do-invalid do-dictate2"></span>
                <span class="do do-invalid do-dictate3"></span>
                <span class="do do-invalid do-revise"></span>
                <span class="do do-invalid do-null"></span>
            </div>
            <div>
                <span class="do do-error do-dictate"></span>
                <span class="do do-error do-note"></span>
                <span class="do do-error do-read"></span>
                <span class="do do-error do-recite"></span>
                <span class="do do-error do-write"></span>
                <span class="do do-error do-review"></span>
                <span class="do do-error do-leave"></span>
                <span class="do do-error do-dictate1"></span>
                <span class="do do-error do-dictate2"></span>
                <span class="do do-error do-dictate3"></span>
                <span class="do do-error do-revise"></span>
                <span class="do do-error do-null"></span>
            </div>
        </div>
    </div>
{% endblock %}
