{% extends 'base.twig' %}

{% block page_title %}首页{% endblock %}

{% block main_content %} 
    <div class="row">
        <div class="col-md-12">
            <h3>首页</h3>
        </div>
        <div class="col-md-12">
            <h4>Old Version</h4>
            <div>
                <span class="do do-dictate"></span>
                <span class="do do-note"></span>
                <span class="do do-read"></span>
                <span class="do do-recite"></span>
                <span class="do do-write"></span>
                <span class="do do-review"></span>
                <span class="do do-leave"></span>
                <span class="do do-dictate1"></span>
                <span class="do do-dictate2"></span>
                <span class="do do-dictate3"></span>
                <span class="do do-revise"></span>
                <span class="do do-null"></span>
                <span class="do do-retell"></span>
                <span class="do do-comment"></span>
                <span class="do do-review-weekly"></span>
                <span class="do do-review-group"></span>
                <span class="do do-review-monthly"></span>
            </div>
            <div>
                <span class="do do-fill do-dictate"></span>
                <span class="do do-fill do-note"></span>
                <span class="do do-fill do-read"></span>
                <span class="do do-fill do-recite"></span>
                <span class="do do-fill do-write"></span>
                <span class="do do-fill do-review"></span>
                <span class="do do-fill do-leave"></span>
                <span class="do do-fill do-dictate1"></span>
                <span class="do do-fill do-dictate2"></span>
                <span class="do do-fill do-dictate3"></span>
                <span class="do do-fill do-revise"></span>
                <span class="do do-fill do-null"></span>
                <span class="do do-fill do-retell"></span>
                <span class="do do-fill do-comment"></span>
                <span class="do do-fill do-review-weekly"></span>
                <span class="do do-fill do-review-group"></span>
                <span class="do do-fill do-review-monthly"></span>
            </div>
            <div>
                <span class="do do-invalid do-dictate"></span>
                <span class="do do-invalid do-note"></span>
                <span class="do do-invalid do-read"></span>
                <span class="do do-invalid do-recite"></span>
                <span class="do do-invalid do-write"></span>
                <span class="do do-invalid do-review"></span>
                <span class="do do-invalid do-leave"></span>
                <span class="do do-invalid do-dictate1"></span>
                <span class="do do-invalid do-dictate2"></span>
                <span class="do do-invalid do-dictate3"></span>
                <span class="do do-invalid do-revise"></span>
                <span class="do do-invalid do-null"></span>
                <span class="do do-invalid do-retell"></span>
                <span class="do do-invalid do-comment"></span>
                <span class="do do-invalid do-review-weekly"></span>
                <span class="do do-invalid do-review-group"></span>
                <span class="do do-invalid do-review-monthly"></span>
            </div>
            <div>
                <span class="do do-error do-dictate"></span>
                <span class="do do-error do-note"></span>
                <span class="do do-error do-read"></span>
                <span class="do do-error do-recite"></span>
                <span class="do do-error do-write"></span>
                <span class="do do-error do-review"></span>
                <span class="do do-error do-leave"></span>
                <span class="do do-error do-dictate1"></span>
                <span class="do do-error do-dictate2"></span>
                <span class="do do-error do-dictate3"></span>
                <span class="do do-error do-revise"></span>
                <span class="do do-error do-null"></span>
                <span class="do do-error do-retell"></span>
                <span class="do do-error do-comment"></span>
                <span class="do do-error do-review-weekly"></span>
                <span class="do do-error do-review-group"></span>
                <span class="do do-error do-review-monthly"></span>
            </div>
        </div>
        <div class="col-md-12">
            <h4>New Version</h4>
            <div>
                <span class="do2">听</span>
                <span class="do2">笔</span>
                <span class="do2">读</span>
                <span class="do2">述</span>
                <span class="do2">句</span>
                <span class="do2">盘</span>
                <span class="do2">假</span>
                <span class="do2">自</span>
                <span class="do2">自</span>
                <span class="do2">自</span>
                <span class="do2">复</span>
                <span class="do2">旷</span>
                <span class="do2">背</span>
                <span class="do2">评</span>
                <span class="do2">周</span>
                <span class="do2">月</span>
                <span class="do2">群</span>
            </div>
            <div>
                <span class="do2 do-fill">听</span>
                <span class="do2 do-fill">笔</span>
                <span class="do2 do-fill">读</span>
                <span class="do2 do-fill">述</span>
                <span class="do2 do-fill">句</span>
                <span class="do2 do-fill">盘</span>
                <span class="do2 do-fill">假</span>
                <span class="do2 do-fill">自</span>
                <span class="do2 do-fill">自</span>
                <span class="do2 do-fill">自</span>
                <span class="do2 do-fill">复</span>
                <span class="do2 do-fill">旷</span>
                <span class="do2 do-fill">背</span>
                <span class="do2 do-fill">评</span>
                <span class="do2 do-fill">周</span>
                <span class="do2 do-fill">月</span>
                <span class="do2 do-fill">群</span>
            </div>
            <div>
                <span class="do2 do-invalid">听</span>
                <span class="do2 do-invalid">笔</span>
                <span class="do2 do-invalid">读</span>
                <span class="do2 do-invalid">述</span>
                <span class="do2 do-invalid">句</span>
                <span class="do2 do-invalid">盘</span>
                <span class="do2 do-invalid">假</span>
                <span class="do2 do-invalid">自</span>
                <span class="do2 do-invalid">自</span>
                <span class="do2 do-invalid">自</span>
                <span class="do2 do-invalid">复</span>
                <span class="do2 do-invalid">旷</span>
                <span class="do2 do-invalid">背</span>
                <span class="do2 do-invalid">评</span>
                <span class="do2 do-invalid">周</span>
                <span class="do2 do-invalid">月</span>
                <span class="do2 do-invalid">群</span>
            </div>
            <div>
                <span class="do2 do-error">听</span>
                <span class="do2 do-error">笔</span>
                <span class="do2 do-error">读</span>
                <span class="do2 do-error">述</span>
                <span class="do2 do-error">句</span>
                <span class="do2 do-error">盘</span>
                <span class="do2 do-error">假</span>
                <span class="do2 do-error">自</span>
                <span class="do2 do-error">自</span>
                <span class="do2 do-error">自</span>
                <span class="do2 do-error">复</span>
                <span class="do2 do-error">旷</span>
                <span class="do2 do-error">背</span>
                <span class="do2 do-error">评</span>
                <span class="do2 do-error">周</span>
                <span class="do2 do-error">月</span>
                <span class="do2 do-error">群</span>
            </div>
        </div>
    </div>
{% endblock %}
