{% extends 'base.twig' %}

{% block main_content %} 
    <div class="row">
        <div class="col-xs-12">
            <h1>打卡</h1>
            <div>
                <span class="do do-dictate"></span>
                <span class="do do-note"></span>
                <span class="do do-read"></span>
                <span class="do do-recite"></span>
                <span class="do do-write"></span>
                <span class="do do-review"></span>
                <span class="do do-leave"></span>
                <span class="do do-null"></span>
            </div>
            <div>
                <span class="do do-fill do-dictate"></span>
                <span class="do do-fill do-note"></span>
                <span class="do do-fill do-read"></span>
                <span class="do do-fill do-recite"></span>
                <span class="do do-fill do-write"></span>
                <span class="do do-fill do-review"></span>
                <span class="do do-fill do-leave"></span>
                <span class="do do-fill do-null"></span>
            </div>
        </div>
    </div>
{% endblock %}
